<header id="site-header" class="fixed-top">
    <section class="w3l-header-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <h1><a class="navbar-brand" href="index.html">
                        <span style="color:#4d7ae3 ;">Go</span>Auto
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav search-right mt-lg-0 mt-2">
                        {{!-- <li class="nav-item mr-3" title="Search"><a href="#search" class="btn search-search">
                                <span class="fa fa-search" aria-hidden="true"></span></a></li> --}}
                                {{#if userDetails}}
                                <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                        <img alt="Image placeholder"style="width:40px;height:40px;"class="rounded-circle" src="/admin/assets/img/theme/team-4.jpg">
                                    </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold ">{{userDetails.name}}</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu">
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="fa fa-user"></i>
                                    <span >My Account</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="/logout" class="dropdown-item">
                                    <i class="fa fa-sign-out"></i>
                                    <span >Logout</span>
                                </a>
                            </div>
                        </li>
                                {{else}}
                        <li class="nav-item"><a href="/select-login"
                                class="btn text-white btn-style d-none d-md-block btn-style mr-2"
                                style="background-color:#4d7ae3;"><span class="fa fa-user mr-3"
                                    aria-hidden="true"></span>Login</a>
                        </li>
                        {{/if}}
                        
                        
                    </ul>

                    <!-- //toggle switch for light and dark theme -->
                    <!-- search popup -->
                    <div id="search" class="pop-overlay">
                        <div class="popup">
                            <form action="#" method="GET" class="d-sm-flex">
                                <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                                <button type="submit">Search</button>
                                <a class="close" href="#url">&times;</a>
                            </form>
                        </div>
                    </div>
                    <!-- /search popup -->
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position ml-1">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
    </section>
</header>