<section class="w3l-footer">
        <footer class="footer-28 py-5">
            <div class="container py-md-5">
                <div class="footer-top-28 text-center">
                    

                    <h2><a class="navbar-brand" style="color: #4d7ae3;" href="index.html">
                            Go<span>Auto</span>
                        </a></h2>
                    <p class="f-para mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic
                        odio
                        voluptatem
                        tenetur consequatur.Curabitur id gravida risus. Fusce eget ex fermentum</p>
                </div>
                <div class="footer-social-accounts text-center mt-lg-5 mt-4">

                    <ul class="social-icons mt-4">
                        <li class="facebook">
                            <a href="#link" title="Facebook">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="#link" title="Twitter">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="dribbble">
                            <a href="#link" title="Dribbble">
                                <span class="fa fa-dribbble" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="google mr-0">
                            <a href="#link" title="Google">
                                <span class="fa fa-google" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="midd-footer-28 align-center mt-lg-0 mt-4">
                <p class="copy-footer-28 text-center"> &copy; 2020  All Rights Reserved</p>

            </div>
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top" style="background-color: #4d7ae3;">
                <span class="fa fa-angle-up"></span>
            </button>
           