<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-3">
      <div class="container grid-breadcrumb">
        <ul class="breadcrumbs-custom-path mt-md-2">
          <li><a href="/" style="color: #4d7ae3;" >Home</a></li>
          <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> About Us </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
  <!-- /content-6-->
  <section class="w3l-content-6" id="about">
    <!-- /content-6-main-->
    <div class="content-6-mian py-5">
      <div class="container py-lg-5 py-md-4">
        <div class="content-info-in row">
          <div class="content-gd col-lg-6 pr-lg-4">
            <div class="title-content text-left mb-sm-4 mb-3">
              <h3 class="subhny-title">About Us</h3>
              <h3 class="hny-title">We ignite opportunity by setting the world in motion</h3>
            </div>
            <p>Good things happen when people can move, whether 
                across town or toward their dreams. Opportunities appear, open up, become reality.
                 What started as a way to tap a button to get a ride has led to billions of moments of human
                  connection as people around the world go all kinds of places in all kinds of ways with the help of our technology. </p>
          </div>
          <div class="content-gd col-lg-3 col-6 pl-lg-4 pl-lg-5 mt-lg-0 mt-md-5 mt-4">
            <img src="/user/assets/images/About-1.jpg" alt="about" class="radius-image img-fluid">
          </div>
          <div class="content-gd col-lg-3 col-6 pl-lg-4 pl-lg-5 mt-lg-0 mt-md-5 mt-4">
            <img src="/user/assets/images/about-2.jpg" alt="about" class="radius-image img-fluid">
          </div>
        </div>
        <p class="mt-4">In addition to giving riders a way to get from point A to point B, we're 
            working to bring the future closer with self-driving technology and urban air transport, 
            helping people order food quickly and affordably, removing barriers to healthcare, creating new freight-booking solutions, 
            and helping companies provide a seamless employee travel experience.</p>
      </div>
  </section>
  <!-- //content-6-->
    <!--/w3l-grids-3-->
  <section class="w3l-grids-3 py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row bottom-ab-grids">
          <div class="col-lg-6 bottom-right-grids mb-lg-0 mb-5">
            <img src="/user/assets/images/why-choose.svg" alt="" class="img-fluid">
           </div>
            <div class="col-lg-6 bottom-ab-left pl-lg-5">
                <span class="subhny-title mb-2">Faster than light</span>
                <h3 class="hny-title mb-4">Why Choose Us</h3>
                <p class="">Peace of mind is designed into your experience. </p>
                <ul class="cont-4 mt-4">
                    <li><span class="fa fa-check"></span>We are millions of riders and drivers who share Community Guidelines and depend on one another to do the right thing.</li>
                    <li><span class="fa fa-check"></span>Get 24/7 support in the app for any questions or safety concerns you might have.</li>
                    <li><span class="fa fa-check"></span>Tell your loved ones where you are. Get help with the tap of a button. Technology makes travel safer than ever before.</li>
                </ul>
               
            </div>
           
        </div>
    </div>
</section>
  <!--//w3l-grids-3-->
  