<section  class="w3l-banner py-5">
    <div class="container mt-5 mb-5 ">
         <div class="header-section text-center mx-auto">
            <span class="subhny-title text-center mb-2">Select login</span>
            <h4 class="hny-title text-center mb-5">Login</h4>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="/auto"><img src="/user/assets/images/drive.gif" alt="" style="width: 300px; height:200px; "></a><br>
                <a href="/auto" class="btn btn-lg mt-4 text-white" style="background-color:#4d7ae3;">Login As Driver  <span class="fa fa-arrow-right"></span></a>
            </div>
            <div class="col-md-6 text-center">
                <a href="/login"><img src="/user/assets/images/ride.gif" alt="" style="width: 300px; height:200px;"></a><br>
                 <a href="/login" class="btn btn-lg mt-4 text-white" style="background-color:#4d7ae3;">Login As Rider <span class="fa fa-arrow-right"></span></a>
                
            </div>
            
        </div>
    </div>
</section>